SERPER_API_KEY=3e3 # This is a fake key
OPENAI_API_KEY=sk_3e3 # This is a fake key
OLLAMA_API_BASE=http://localhost:11434/v1
OPENAI_API_BASE=https://api.openai.com/v1
LANGCHAIN_API_KEY=sk_3e3 # This is a fake key
LANGCHAIN_PROJECT=AIAgency # Test project name LangChain debug dashboard
LANGCHAIN_TRACING_V2=true
SEC_API_API_KEY=sk_3e3 # This is a fake key
BROWSERLESS_API_KEY=sk_3e3 # This is a fake key
EXA_API_KEY=sk_3e3 # This is a fake key
TAVILY_API_KEY= # (tavily.com)
MY_EMAIL=user@gmail.com